@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url('http://fonts.cdnfonts.com/css/silom');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: 'Silom', sans-serif;
  background-color: #202023;
  margin-top: 95px;
}

.app {
  width: 100%;
  margin: 60px auto;
}

.mapid {

  width: auto;
  height: auto;

}

.details{
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}

.slide{
  display: flex;
}

.nav-resto{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 20%;
  height: auto;
  min-height: 500px;
  max-height: 700px;
  padding: 10px 10px;
  margin: 25px;
  box-shadow: 0 0 5px #ccc;
  
  /* border-radius: 1rem !important; */
  background: #f9fbfb;
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
  background: linear-gradient(to right, #0083B0, #00B4DB);
  color: #ffffff;
  font-size: 0.9rem !important;
  letter-spacing: 0.2em;
}


.nav-resto .nav-item {
  display: flex;
  
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  list-style-type: none;
  padding: 10px 10px;
  margin: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-resto .header {
  /*background-color: #111; */
  color: white;
  font-size: 25px;
}

.nav-resto li {
  
  border-bottom: 1px solid #eee;
  padding: 20px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.nav-resto :first-child{
  align-self: center;
  }

.map img{
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
}


.details .box{
  max-width: 1200px;
  min-width: 290px;
  width: 90%;
  height: auto;
  margin: 40px;
  box-shadow: 0 0 5px #ccc;
}

.details .blocus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  min-width: 290px;
  width: 70%;
  height: auto;
  margin: 15px;
  /*box-shadow: 0 0 5px #ccc; */
}

.blocus .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

}
.box .row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.box .row h2{
  text-transform: uppercase;
  letter-spacing: 2px;
}
.box .row span{
  color: crimson;
}
.box .colors button{
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}
.box p{
  line-height: 1.5;
  margin: 15px 0;
}

.details .thumb{
  max-width: 1200px;
  min-width: 290px;
  width: 90%;
  height: auto;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.box .btn-container{
display: flex;
justify-content: right;
width: auto;
height: 66px;
background-color: rgb(255, 255, 255);

}

.box .bouton{
  background: #04AA6D;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin: 10px;
  margin-top: 15px;
}

@media (max-width: 900px){
  .nav-resto {
    display: none;
  }
}

@media (max-width: 500px){
  .thumb{
    height: 50px;
  }

  .thumb img{
    width: 50px;
  }
}

.EnTete {
    background-color: #1DB954;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
    top: 0;
    position: fixed;
    z-index: 100;
}

.Title { 
    margin-left: 16px;
    margin-right: 35px;
    padding-right: 2%;
    padding-top: 7px;
    border-right: 2px solid #000000;
}

.Reste {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul{
    list-style: none;
    position: fixed;
    right: 10px;
    padding-inline-start: 0;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #202023;
    padding: 8px 15px;
    border-radius: 7px;
    margin-right: 15px;
    transition: all .3s ease;
    box-shadow: 0px 0px 2px #1c1d1f, 0px 0px 2px #222527;
}

ul li a:hover,
ul li a.active{
    color: white;
    background: #202023;
    box-shadow: 0px 0px 2px #1c1d1f, 0px 0px 2px #cfd6da;
}

h1 {
  font-size: 3rem;
  letter-spacing: -4px;
  background: linear-gradient(
    90deg,
    rgb(255, 200, 155) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  background-color: #202023;
}

.Page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchH {
  width: 60%;
  height: 10%;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding: 0.6rem 1.1rem;
  border-radius: 10px;
  background: #afb2b4;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  box-shadow: 0px 0px 2px #1c1d1f, 0px 0px 2px #222527;
}

.searchH input {
  flex: 1;
  width: inherit;
  border: none;
  font-size: medium;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  

  outline: none;
  color: #000000;
  background: #afb2b4;
}

.searchH img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.filter{
    box-shadow: 0px 0px 4px #858484, 0px 0px 4px #898989;
    border-radius: 1rem;
    height: fit-content;
    width: 35%;

    padding-top: 3px;
    color: white;
    font-size: small;
    background-color: rgba(117, 117, 117, 0.401);
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}
.title-priceRange{
  padding-top: 7px;
  padding-bottom: 7px;
  position: relative;
  left: -90px;
  top: 0px;
}

.title-dropdown{
  padding-top: 22px;
  position: relative;
  left: -78px;
  top: 0px;
}

.r-slider{
  width: 80%;
  color: white;
}

.MuiSlider-track{
  color: #1DB954;
}

.dropdown{
  width: 100%;
  color: aqua;
}

.search-result{
    box-shadow: 0px 0px 4px #a0a0a0, 0px 0px 4px #898989;
    background-color: #a0a0a0;
    border-radius: 1rem;
    height: 650px;
    width: 55%;
}

.search-result h2 {
    position: relative;
    top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}

.filter h2 {
  position: relative;
  top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.ResultTitle{
  text-align: center;
}

.FilterTitle{
  text-align: center;
}

.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: black;
  border: none;
}

.Container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.resto-result {
  width: 100%;
  height: 8%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  border-bottom: 1px solid black;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}

.spansers{
    margin: 10px 20px;
    font-family: 'Courier New', monospace;
}


.resto-result:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.01, 1.01);
  background-color: #1DB954;
  color: #202023;
}

#icon{
    background-color: #202023;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#icon svg{
    color: white;
    height: 28px;
    transition: all .3s ease;
}

#icon:hover{
    background: white;
}
#icon:hover svg{
    color: #202023;
}

#checkbox, #icon{
    display: none;
}

.leaflet-container{
  width: 500px;
  height: 200px;
}

#mapH{
  margin-top: 40px;
  margin-bottom: 50px;
  display: none;
}

.btnFiltrer{
    background: white;
    padding: 5px 7px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 120%;
    box-shadow: 0px 0px 4px #100f0f, 0px 0px 4px #000000;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}
.btnFiltrer:hover{
  box-shadow: 0px 5px 18px -8px rgba(0, 0, 0, 1);
  transform: scale(1.1, 1.1);
  background-color: #1DB954;
  color: #202023;
  font-weight: bold;
  
}

/*@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}*/

@media screen and (max-width :768px){
    nav{
        border-bottom: 1px solid black;
    }
    ul{
        position: absolute;
        width: 100%;
        height: fit-content;
        background-color: #1db954;
        left: 0;
        top: 0;
        text-align: center;
        display: none;
        margin-top: 71px;
        padding-left: 138px;
        padding-right: 138px;
        border-top: 1px solid black;
    }

    ul li{
        display: block;
        padding: 10px 15px;
    }

    ul li a{
        display: block;
        padding: 10px 0;
    }

    #icon{
        display: block;
        position: fixed;
        right: 15px;
    }

    .search{
        width: 60%;
    }

    #checkbox:checked~ul{
        display: block;
    }

    .Page{
      flex-direction: column;
      align-items: center;
    }

    .Container{
      flex-direction: column;
      align-items: center;
    }

    .filter{
      width: 80%;
      margin-bottom: 25px;
      margin-left: 0px;
    }

    .search-result{
        width: 80%;
    }

}

/*@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
}*/